.card-area {
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-rows: repeat(auto-fit, 300px);
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
  flex-grow: 1;
  align-content: flex-start;
  justify-items: center;
}