.card {
  width: 250px;
  height: 300px;
  background-color: #20222aaf;
  border-radius: 3%;
  padding: 5px;
  box-sizing: border-box;
}

.card:hover {
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.4);
}

.card__image {
  border-radius: 3% 3% 0 0;
  width: 100%;
  height: 50%;
  object-fit: cover;
  font-size: 16px;
}

.card__title {
  margin: 0;
  padding: 5px;
  max-height: 55px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__button {
  background-color: transparent;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border: none;
  cursor: pointer;
  margin: 10px 0 0 10px;
  padding: 0;
  box-sizing: border-box;
  transition:
    all 0.4s ease,
    transform 0.2s ease;
  transform: translateY(0px);
  border-radius: 8px;
}

.card__button:hover {
  transform: translateY(-2px);
  box-shadow: inset 0px -20px 0px rgba(255, 255, 255, 0.2);
}

.card__button:last-of-type {
  margin-left: 0;
}

.card__button_like {
  background-image: url('../../images/add-square-svgrepo-com.svg');
}

.card__button_delete {
  background-image: url('../../images/close-square-svgrepo-com.svg');
}

.card__button_info {
  background-image: url('../../images/info-square-svgrepo-com.svg');
}
